<% if (typeof flash !== 'undefined' && flash) { %>
  <% if (flash.success) { %>
    <div class="alert alert-success" role="alert" data-autohide="5000"><%= flash.success %></div>
  <% } %>
  <% if (flash.error) { %>
    <div class="alert alert-danger" role="alert"><%= flash.error %></div>
  <% } %>
  <% if (flash.warning) { %>
    <div class="alert alert-warning" role="alert"><%= flash.warning %></div>
  <% } %>
  <% if (flash.info) { %>
    <div class="alert alert-info" role="alert" data-autohide="6000"><%= flash.info %></div>
  <% } %>
<% } %>
