<footer>
  <div class="container">
    <p>
      <a href="mailto:hibamassoud476@gmail.com" target="_blank">
        اتصل بنا
      </a>
    </p>
    <p>🌍 جيوساوند &mdash; جغرافيا صوتية للجميع &mdash; &copy; <%= new Date().getFullYear() %>
    </p>
  </div>
</footer>
<script src="/public/js/main.js"></script>
</body>

</html>